# Ambiente virtual
env/
venv/
.venv/

# Variáveis de ambiente / secrets
.env
*.env

# Banco local
*.db
*.sqlite
*.sqlite3

# Python
__pycache__/
*.py[cod]
*.pyo

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db